@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Lavishly+Yours&family=League+Script&family=Liu+Jian+Mao+Cao&family=Meddon&family=Megrim&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Oooh+Baby&family=Square+Peg&family=Waterfall&display=swap');


/* Software Page CSS */
.softwarePage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

    background: url(/dark-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: inherit;
    flex-wrap: wrap;
    z-index: 1;
}



.projectPanel {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: transparent;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(101, 92, 60, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}

.softwareTitle-left {
    position: fixed;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    font-size: 150px;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #5a6478;
}

.softwareTitle-right {
    position: fixed;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    font-size: 150px;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #5a6478;
}

.projectTitle{
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 40px;
    overflow: hidden;
    margin: 10px;
}

.projectLink {
    text-decoration: none;
    color: #ffffff;
}

.projectLink:hover {
    text-decoration: underline;
}